* {

    margin: 0;
    padding: 0;
    
    }
    
    
    body {
    background-color: white;
    color : black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.main {
    text-align: center;

}

.container {

width: 40%;
background-color: rgb(255, 192, 227);
display: inline-block;
border-radius: 5px;
margin: 40px;

}

.container:hover {

    box-shadow: 2px 2px 10px black;

}



.image img {

width: 100%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;

}

.title {

text-align: center;
color: black;
}

.des {

    text-align: center;
padding: 4px;
color: black;

}

button {

margin-top: 30px;
margin-bottom: 30px;
background-color: #fff;
border: 1px Solid black;
padding: 5px;
border-radius: 5px;
cursor: pointer;
}

button:hover{


background-color: black;
Color: white;
transition: .5s;

}
















